body {
	margin: 0;
  	padding: 0;
  	font-size: 16pt; 
  	font-family: 'IM Fell DW Pica', serif;
	  background-color: #ffffff;
/*    background-image: url('../img/rain.gif');*/
    background-position: center top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    min-height: 100%;
}

header{
	/*background: #fff;*/
	margin-bottom: 20px;
	border-bottom: 1px solid #629B63;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#page-container {
	min-height: 100%;
  	margin-bottom: -20px; 
}

#page-container:after {
	content: "";
  	display: block;
}

footer, #page-container:after {
	height: 20px;
	text-align: center;
	padding-top: 50px
}

.nav_links{
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	margin-bottom: 20px;
  	margin-top: 20px;
}

.grid-container {
	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  	grid-template-rows: repeat(3, 320px);
  	padding-left: 100px;
  	padding-right: 100px;
  	padding-top: 100px;
    grid-gap: 50px;
  	grid-auto-flow: dense;
    align-items: center;
    justify-content: space-evenly;
  	justify-items: center;
  	align-content: space-evenly;
}

.pic {
	width: 300px;
}

.cap {
	font-size: 13px;
}

.now {
    color: #3D613D;
    text-transform: uppercase; 
}

.home {
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #3D613D;

a:active {
  text-decoration: none;
}
